{% load static%}
<style>
  .user{
    color: #fff;
    text-transform: capitalize;
  }
  .user a{
    color: #fff;
    text-transform: capitalize;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"> 
      <img id="logo" src="{% static 'images/logo.png'%}" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Dashbord</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'products' %}">Products</a>
        </li>
       
      </ul>
      <span class="user ml-5 mr-2">user {{request.user}}</span>
      <span class="user">
        <a href="{% url 'logout' %}">logout</a>
      </span>
      <div>
        <p class="text-white ml-5 mt-3">{% now "jS F Y " %}</p>
      </div>
    </div>
  </nav>